body{
    margin: 0;
}
:root{
    --main-color:rgb(186, 255, 212);
    --primary-color:rgba(189, 189, 189, 0.168);
}
*:focus{
    outline: none;
}
*{
    font-family: "Philosopher";
}
h1{
    margin-left: 2rem;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    height: 85vh;
}
.container{
    height: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}
input{
    max-width: 250px;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid black;
}
input::-webkit-inner-spin-button{
    display: none;
}
.btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    background-color: var(--main-color);
    font-weight: 550;
    font-style: italic;
}
#cash, .cashlabel, .change{
    display: none;
    animation: inanime 300ms linear;
}
@keyframes inanime{
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0);
    }
}
td, th{
    text-align: left;
    padding: 0.5rem 2rem;
}
tr:nth-child(1){
    background-color: var(--main-color);
}
tr:nth-child(2n + 3){
    background-color: var(--primary-color);
}
table{
    border-collapse: collapse;
}
.table-close{
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.second{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table{
    display: none;
    position: absolute;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 15px var(--primary-color), 0px 0px 5px rgba(0, 0, 0, 0.123);
    transition: transform linear 1000ms;
}
img{
    display: none;
    height: 100px;
}
.footer{
    position: fixed;
    bottom: -1.8rem;
    right: -6.5rem;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.288);
    text-align: center;
    padding: 1rem 5rem 5rem 5rem;
    background-color: var(--main-color);
    transform: rotate(-45deg);
}
.return{
    margin-bottom: 2rem;
}
.reset{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
@media only screen and (max-width: 550px){
    section{
        flex-direction: column;
    }
}